
<div class="col-md-12 m-5">
    <div class="card">
        <div class="card-header">
            <h2>Klausimai</h2>
        </div>
        <div class="card-body"> 


         <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-row">
                <div class="col m-3"> 
          
                    <input type="text" class="form-control" placeholder="Vardas" ngModel name="name">
                </div>
                <div class="col m-3">
                    <input type="text" class="form-control" placeholder="Pavardė" ngModel name="surname">
                </div>
                <div class="col m-3">
                    <input type="text" class="form-control" placeholder="El. paštas" ngModel name="email">
                </div>
                <div class="col m-3">
                    <input type="text" class="form-control" placeholder="Telefono nr." ngModel name="phone">
                </div>

            

                <div class="card m-3"  *ngFor="let questions of questionsQ; let i=index; trackBy: trackByItems" [questions]="questions" [attr.data-index]="i">
                  <div class="card-body" >
                      
                          <div class="form-check m-3">
                              <label>
                              {{questions.query}}
                              </label><br><br>
                            </div>
                          <div class="form-check m-3">
                              <input class="form-check-input"  type="radio" ngModel name="radio{{i+1}}" id="exampleRadios1" value="{{questions.radio1}}" checked>
                              <label class="form-check-label" for="exampleRadios1">
                              {{questions.radio1}}
                              </label>
                            </div>
                            <div class="form-check m-3">
                              <input class="form-check-input" type="radio" ngModel name="radio{{i+1}}" id="exampleRadios2" value="{{questions.radio2}}">
                              <label class="form-check-label" for="exampleRadios2">
                              {{questions.radio2}}
                              </label>
                            </div>
                            <div class="form-check m-3">
                              <input class="form-check-input" type="radio" ngModel name="radio{{i+1}}" id="exampleRadios3" value="{{questions.radio3}}">
                              <label class="form-check-label" for="exampleRadios3">
                              {{questions.radio3}}
                              </label>
                            </div>
                            <div class="form-check m-3" *ngIf="questions.radio4"> <!--If "product" exists-->
                              <input class="form-check-input" type="radio" ngModel name="radio{{i+1}}" id="exampleRadios3" value="{{questions.radio4}}">
                              <label class="form-check-label" for="exampleRadios3">
                              {{questions.radio4}}
                              </label>
                            </div>
                      
                  </div>
              </div>


                <button class="btn btn-primary m-3" type="submit">Pateikti</button>
                <button  class="btn btn-link" (click)="reloadCurrentPage()">Valyti formą</button>

              </div>
            </form>
        </div>
    </div>
</div>
    
    



